/******************************************************/
/************ DIVIDER - VIDEO & CAROUSEL***************/
/******************************************************/

.shape-divider {
    background: #688992;
    position: absolute;
    top:0;
    height: 100%;
    clip-path: polygon(0 86%, 100% 0, 100% 100%, 0% 100%);
}


/******************************************************/
/************ DIVIDER - VIDEO & CAROUSEL***************/
/******************************************************/

