
/******************************************************/
/**************** SERVICES SECTION ********************/
/******************************************************/

.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.serv-container{
    position: relative;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
    padding: 5%;
}


.serv-container h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #688992;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.8);
}

.serv-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 230px 230px 230px;
    gap: 1rem 2rem;
}

.info-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.serv-name{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    opacity: 0.9;
}


.services {
    position: relative;
    justify-content: center;
    background-color:  #4f676d;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
    border-radius: 10px;
    height: 150px;
    width: 230px;
    margin-top: 5%;
    .inner{
        background-color: black;
        z-index: -1;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        clip-path: inset(0% 0% 0% 100%);
        transition: clip-path .5s ease-in-out;
        
    }

    &:hover .inner, &:active .inner{
        clip-path: inset(0% 0% 0% 0%);
    }
}

.services-image .services-img{
    position: relative;
    height: 150px;
    width: 230px;
    border-radius: 10px;
    opacity: 0.9;
    z-index: 0;
}

.services h2, .services p{
    color: white;
    text-align: center;
}


.shape-1{
    position: relative;
    background-color: #688992;
    height: 100vh;
    width: 100%;
    border-radius: 0 0 0 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 0 #BBCED8;
}

.inner-shape-1 h1{
    position: relative;
    font-size: 3rem;
    font-weight:800;
    text-align: center;
    color: white;
    padding: 0 0 0 10%;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 1);
}


.video-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 5%;
    border-radius: 10px;
    overflow: hidden;
}

.dg-video{
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif !important;
}

.dg-video .vjs-control-bar {
    background: white;
    color: #4f676d;
}

.dg-video .vjs-play-progress, .dg-video .vjs-volume-level{
    background: #BBCED8;
}

.dg-video .vjs-big-play-button{
    background: rgba(79, 103, 109, 1);
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 100%;
    border: none;
}

.dg-video .vjs-big-play-button:hover{
    background: rgba(79, 103, 109, 1);
}

.video-js:hover .vjs-big-play-button {
    background: rgba(79, 103, 109, 0.4);
}

